<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Información Básica</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="form-container">
        <h4>Información básica</h4>
        <form>
            <div class="form-group">
                <label for="primerApellido">Primer apellido</label>
                <input type="text" class="form-control" id="primerApellido" name="primerApellido" [(ngModel)]="Client.primerapellido" readonly>
            </div>
            <div class="form-group">
                <label for="primerNombre">Primer nombre</label>
                <input type="text" class="form-control" id="primerNombre" name="primerNombre" [(ngModel)]="Client.primernombre" readonly>
            </div>
            <button type="button" class="btn btn-secondary mt-3" (click)="goBack()">Regresar</button>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>



